<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <!-- Icons-->
    @section css {
        <link rel="stylesheet"
              href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    }

    <link rel="icon" type="image/ico" href="~/Template/img/favicon.ico" sizes="any" />
    <link href="@Url.Content("~/Template/vendors/@coreui/icons/css/coreui-icons.min.css")" rel="stylesheet">
    <link href="~/Template/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Template/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/Content/fullcalendar.css" />
    <link href="~/Scripts/fullcalendar.js" />
    <!-- Main styles for this application-->
    <link href="~/Template/css/style.css" rel="stylesheet">
    <link href="~/Template/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // Bootstrap ID
        gtag('config', 'UA-118965717-5');
    </script>

    @RenderSection("css", required: false)
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar" style="height:110px; font-size:22px">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-full" src="~/Template/img/mittlogo.jpg" width="145" height="90" alt="MITT Logo">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" href="@Url.Action("Index","Home")">Dashboard</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div style="margin-right:10px">
                        <i class="icon-user"></i>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <h6 class="text-overflow m-0">Welcome</h6>
                            <h6>@User.Identity.Name</h6>
                        }
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>                   
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Manage")">
                        <i class="fa fa-wrench"></i> Settings
                    </a>
                    <div class="dropdown-divider"></div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="dropdown-item" href="@Url.Action("Login", "Account")">
                            <i class="fa fa-lock"></i> Logout
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="@Url.Action("Login", "Account")">
                            <i class="fa fa-lock"></i> Login
                        </a>
                    }
                </div>
            </li>
        </ul>
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav" style="max-height:681px">
                <ul class="nav" style="margin-top:80px">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Program")" target="_top">
                            <i class="nav-icon icon-star"></i> Programs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Instructor")" target="_top">
                            <i class="nav-icon icon-star"></i> Instructors
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Course")" target="_top">
                            <i class="nav-icon icon-star"></i> Courses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Students")" target="_top">
                            <i class="nav-icon icon-star"></i> Students
                        </a>
                    </li>
                    <li class="nav-title">Extras</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-star"></i> Pages
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="login.html" target="_top">
                                    <i class="nav-icon icon-star"></i> Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="register.html" target="_top">
                                    <i class="nav-icon icon-star"></i> Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="404.html" target="_top">
                                    <i class="nav-icon icon-star"></i> Error 404
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="500.html" target="_top">
                                    <i class="nav-icon icon-star"></i> Error 500
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>

    </div>
    <div class="body-content" style="margin-left:210px; margin-right:10px; margin-top:65px">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Template/vendors/jquery/js/jquery.min.js"></script>
    <script src="~/Template/vendors/popper.js/js/popper.min.js"></script>
    <script src="~/Template/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Template/vendors/pace-progress/js/pace.min.js"></script>
    <script src="~/Template/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="@Url.Content("~/Template/vendors/@coreui/coreui/js/coreui.min.js")"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="~/Template/vendors/chart.js/js/Chart.min.js"></script>
    <script src="@Url.Content("~/Template/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js")"></script>
    <script src="~/Template/js/main.js"></script>

    @section Scripts {
        <script type="text/javascript"
                src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sample-datatables').DataTable();
            });
        </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>