<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Argon Dashboard - Free Dashboard for Bootstrap 4</title>
    <!-- Favicon -->
    <link href="~/Template/assets/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    @*<link href="./assets/vendor/nucleo/css/nucleo.css" rel="stylesheet".u>*@
    <link href="~/Template/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet" />
    @*<link href="./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">*@
    <link href="~/Template/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Argon CSS -->
    @*<link type="text/css" href="./assets/css/argon.css?v=1.0.0" rel="stylesheet">*@
    <link href="~/Template/assets/css/argon.css" rel="stylesheet" />

    @RenderSection("css", false)

</head>

<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- ##### Footer Area Start ##### -->
        @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @*<script src="./assets/vendor/jquery/dist/jquery.min.js"></script>*@
        <script src="~/Template/assets/vendor/jquery/dist/jquery.min.js"></script>
        @*<script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
        <script src="~/Template/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Optional JS -->
        @*<script src="./assets/vendor/chart.js/dist/Chart.min.js"></script>*@
        <script src="~/Template/assets/vendor/chart.js/dist/Chart.min.js"></script>
        @*<script src="./assets/vendor/chart.js/dist/Chart.extension.js"></script>*@
        <script src="~/Template/assets/vendor/chart.js/dist/Chart.extension.js"></script>
        <!-- Argon JS -->
        @*<script src="./assets/js/argon.js?v=1.0.0"></script>*@
        <script src="~/Template/assets/js/argon.js"></script>

    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
