@model StudentViewModel
@{
    ViewBag.Title = "Details";
}

<div class="body-content" style="margin-bottom:480px; width:600px">
    <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
        <div class="card-header">
            <h2>Details</h2>
        </div>
        <div class="brand-card-body" style="margin-right:550px; width:100%">
            <a href="@Url.Action("Index", "Program")" style="font-weight:bold">
                Add Program<i title="AllPrograms" class="icon-plus" style='font-weight:bold; margin-left:2px;'></i>
            </a>
            <a href="@Url.Action("AssignCourse", "Students", new { studentId = ViewBag.id})" style="font-weight:bold">
                Add Course<i title="AllCourses" class="icon-plus" style='font-weight:bold; margin-left:2px;'></i>
            </a>
        </div>
        <table class="table table-condensed no-border" id="sample-datatables">
            <thead>
                <tr>
                    <th>First Name</th>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Courses Enrolled</th>
                        @foreach (var course in Model.Courses)
                        {
                            <td>@course.Name</td>
                            <td>
                                <form method="post" action="@Url.Action("RemoveCourse","Students", new { id = course.Id, studentId = ViewBag.id })">
                                    <button class="btn-delete" style=" background:none;border:none;color:dodgerblue">Delete</button>
                                </form>
                            </td>
                        }
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

