@model StudentViewModel
@{
    ViewBag.Title = "Details";
}

<div class="body-content" style="margin-bottom:480px; width:1000px">
    <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
        <div class="card-header">
            <h2>Details</h2>
        </div>
        <table class="table table-condensed no-border" id="sample-datatables">
            <thead>
                <tr>
                    <th>First Name</th>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>

                <tr>
                    <th style="display:flex; justify-content:flex-start">
                        Program Name
                        (
                        <div>
                            <a href="@Url.Action("AssignProgram", "Students",new { studentId = ViewBag.id})">Add Program</a>
                        </div>
                        )
                    </th>
                    <td>
                        <div style="display:flex; justify-content:flex-start">
                            <a href="@Url.Action("Details", "Program", new { id = Model.ProgramId } )">
                                @Model.ProgramName.ToString()
                            </a>
                            <form method="post" action="@Url.Action("RemoveProgram","Students", new { id = Model.ProgramId, studentId = ViewBag.id })">
                                <button class="btn-delete" style="margin-left:10px; margin-top:-5px; color:red; background:none; border:none; height:30px;font-size:small">Delete</button>
                            </form>
                        </div>
                    </td>
                <tr>
                <tr>
                    <th style="display:flex; justify-content:flex-start">
                        Courses Enrolled
                        (
                        <div>
                            <a href="@Url.Action("AssignCourse", "Students", new { studentId = ViewBag.id})">Add Course</a>
                        </div>
                        )
                    </th>
                    <td>
                        @foreach (var course in Model.Courses)
                        {
                            <div style="display:flex; justify-content:flex-start">
                                <p>
                                    <a href="@Url.Action("Details", "Course", new { id = course.Id} )">
                                        @course.Name
                                    </a>
                                </p>
                                <form method="post" action="@Url.Action("RemoveCourse","Students", new { id = course.Id, studentId = ViewBag.id })">
                                    <button class="btn-delete" style="margin-left:10px; margin-top:-5px; color:red; background:none; border:none; height:30px;font-size:small">Delete</button>
                                </form>
                            </div>
                        }
                    </td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div style="margin-left:12px; font-size:medium ">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

