@model List<StudentViewModel>

@{
    ViewBag.Title = "Import Student";
}

@if (TempData["Message"] != null)
    {
<div class="alert alert-danger">@TempData["Message"]</div>
    }

<div class="body-content" style="margin-bottom:480px">
    <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
        <div class="card-header">
            <h2>Create Instructor through CSV</h2>
        </div>
        <div class="card-body" style="margin-top:-15px; width:400px">
            @using (Html.BeginForm("ImportStudent", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="postedFile" />
                <button type="submit" class="btn btn-success my-4">Import</button>
            }

            @*<table id="sample-datatables" class="table table-striped" style="margin-top:40px" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>ProgramName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (StudentViewModel student in Model)
                        {
                            <tr>
                                <td>@student.FirstName</td>
                                <td>@student.LastName</td>
                                <td>@student.Email</td>
                                <td>@student.ProgramName</td>
                            </tr>
                        }
                    </tbody>
                </table>*@
        </div>
    </div>
</div>
