@model List<StudentViewModel>

@{
    ViewBag.Title = "Index";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
}

<h2>List of Students</h2>

@Html.ValidationSummary(false)
<h5>
    <strong>
        @Html.ActionLink("Create New", "CreateStudent")
    </strong>
</h5>

@if (!Model.Any() || Model == null)
{
    <div style="margin-bottom:600px">
        <p><strong>No Student Available</strong></p>
    </div>
}
else
{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-danger">@TempData["Message"]</div>
    }
    <table id="sample-datatables" class="table table-striped" style="margin-bottom:400px">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Students", new { id = student.Id })">
                            @student.FirstName @student.LastName
                        </a>
                    </td>


                    <td>@student.Email</td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("EditStudent", "Students", new { id = student.Id })">
                                <i title="Edit Student" class="fas fa-pencil-square-o"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = student.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}