@model SchoolProgramViewModel
@{
    ViewBag.Title = "Details";
}

<div class="body-content" style="margin-bottom:480px; width:600px">
    <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
        <div class="card-header">
            <h2>Details</h2>
        </div>

        <table class="table table-condensed no-border" id="sample-datatables">
            <thead>
                <tr>
                    <th>Program Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Program Start Date</th>
                    <td>@Model.StartDate.ToString("d")</td>
                </tr>
                <tr>
                    <th style="display:flex; justify-content:flex-start">
                        List Of Courses
                        (
                        <div style="display:flex; justify-content:space-around">
                            <a href="@Url.Action("ProgramCourse", "Program", new { programId = ViewBag.id})">Create Course</a>
                        </div>
                        )
                    </th>
                    <td>
                        @foreach (var record in Model.Courses)
                        {
                            <div style="display:flex; justify-content:flex-start">
                                <p>
                                    <a href="@Url.Action("Details", "Course", new { id = record.Id} )">
                                        @record.Name
                                    </a>
                                </p>
                                <form method="post" action="@Url.Action("DeleteProgramCourse","Program", new {id = ViewBag.id, Courseid = record.Id })">
                                    <button class="btn-delete" style="margin-left:10px; margin-top:-5px; color:red; background:none; border:none; height:30px;font-size:small">Delete</button>
                                </form>
                            </div>
                        }
                    </td>
                </tr>


            </thead>
            <tbody></tbody>
        </table>
        <div style="margin-left:12px; font-size:medium ">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>