@model List<CreateEditSchoolProgramViewModel>

@{
    ViewBag.Title = "View Programs";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
}


<h2>List of Programs</h2>

@Html.ValidationSummary(false)
<h5>
    <strong>
        @Html.ActionLink("Create New", "CreateProgram")
    </strong>
</h5>

@if (!Model.Any())
{
    <div style="margin-bottom:600px">
        <p><strong>No Program Available</strong></p>
    </div>
}
else
{
    <table id="sample-datatables" class="table table-striped" style="margin-bottom:400px">
        <thead>
            <tr>
                <th></th>
                <th>Program</th>
                <th>Start Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var program in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Program", new { id = program.Id} )">
                            <i title="Details" class="fas fa-info-circle" style='font-size:20px;color:lightseagreen'></i>
                        </a>
                    </td>
                    <td>@program.Name</td>
                    <td>@program.StartDate</td>

                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("EditProgram", "Program", new { id = program.Id })">
                                <i title="Edit Program" class="fas fa-pencil-square-o"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <form method="post" action="@Url.Action("Delete", "Program", new { id = program.Id })">
                                <button class="btn-delete"><i title="Delete" class="fas cui-trash"></i></button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>




    @*<table id="sample-datatables" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditProgram", new { id = item.Id })
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </td>

                    </tr>

                }



            </tbody>

        </table>*@
}

