@model AssignCourseViewModel
@{
    ViewBag.Title = "AssignTickets";
}
<div class="content-wrapper">

    <section class="content">
        <form action="@Url.Action("AssignCourse", "Course")" method="post">
            @Html.ValidationSummary(false)
            <div class="form-group">
                @Html.LabelFor(model => model.ProgramId, "Program", new { @class = "form-control-label" })
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-app"></i></span>
                    </div>
                    @Html.DropDownListFor(p => p.ProgramId, Model.ProgramList, "--- Select Program ---", new { @class = "form-control" })
                </div>
            </div>
            @if (Model.AddCourses != null && Model.AddCourses.Any())
            {
                <p>Add course</p>
                <div class="form-group">

                    @Html.DropDownListFor(p => p.AddSelectedCourses, Model.AddCourses)
                </div>
            }
            @if (Model.RemoveCourses != null && Model.RemoveCourses.Any())
            {
                <p>Remove course</p>
                <div class="form-group">
                    @Html.DropDownListFor(p => p.RemoveSelectedCourses, Model.RemoveCourses)
                </div>
            }
            <input type="hidden" name="instructorId" value="@Model.InstructorId" />
            <input type="submit" value="Submit!" />
        </form>
    </section>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Dropdown list change event.
        $('#ProgramId').change(function () {
            $('#AddSelectedCourses option').remove();
            $.getJSON('/Course/GetCourses', { ProgramId: $('#ProgramId').val() }, function (data) {
                $.each(data, function () {
                    $('#AddSelectedCourses').append('<option value=' +
                        this.Id + '>' + this.Name + '</option>');
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Error getting courses!');
            });
        });
    });</script>