@model AssignCourseViewModel
@{
    ViewBag.Title = "AssignTickets";
}

<div class="body-content" style="margin-bottom:360px">
    <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
        <div class="card-header">
            <h2>Assign Course</h2>
        </div>
        <div class="card-body" style="width: 400px">
            <form action="@Url.Action("AssignCourse", "Course")" method="post">
                @Html.ValidationSummary(false)
                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramId, "Select Program", new { @class = "form-control-label" })
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-app"></i></span>
                        </div>
                        @Html.DropDownListFor(p => p.ProgramId, Model.ProgramList, "--- Select Program ---", new { @class = "form-control" })
                    </div>
                </div>
                @if (Model.AddCourses != null && Model.AddCourses.Any())
                {
                    <p>Select Course</p>
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-app"></i></span>
                        </div>
                        @Html.DropDownListFor(p => p.AddSelectedCourses, Model.AddCourses, "--- Select Course ---", new { @class = "form-control" })
                    </div>
                }
                <input type="hidden" name="instructorId" value="@Model.InstructorId" />
                <div class="form-inline row">
                    <div class="text-center col">
                        <button type="submit" class="btn btn-success my-4">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Dropdown list change event.
        $('#ProgramId').change(function () {
            $('#AddSelectedCourses option').remove();
            $.getJSON('/Course/GetCourses', { ProgramId: $('#ProgramId').val() }, function (data) {
                $.each(data, function () {
                    $('#AddSelectedCourses').append('<option value=' +
                        this.Id + '>' + this.Name + '</option>');
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Error getting courses!');
            });
        });
    });
</script>
