@model CourseViewModel
@{
    ViewBag.Title = "Details";
}
<div class="body-content" style="margin-bottom:480px; width:600px">
    <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
        <div class="card-header">
            <h2>Details</h2>
        </div>
      
        <table class="table table-condensed no-border" id="sample-datatables">
            <thead>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Program Name</th>
                    <td>@Model.ProgramName</td>
                </tr>
                <tr>
                    <th>Prerequisite For</th>
                    @if (Model.PrerequisiteFor != null)
                    {
                        <td>@Model.PrerequisiteFor</td>
                    }
                </tr>
                <tr>
                    <th>Prerequisite Of</th>
                    @if (Model.PrerequisiteOf != null)
                    {
                        <td>@Model.PrerequisiteOf</td>
                    }
                </tr>
                <tr>
                    <th>Start Date</th>
                    <td>@Model.StartDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <th>Start Time</th>
                    <td>@Model.StartTime</td>
                </tr>
                <tr>
                    <th>End Date</th>
                    <td>@Model.EndDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <th>End Time</th>
                    <td>@Model.EndTime</td>
                </tr>
                <tr>
                    <th style="display:flex; justify-content:flex-start">
                        Instructor Name
                        @if (Model.Instructor == null)
                        {
                            <div>
                                (<a href="@Url.Action("AssignInstructor", "Instructor", new { id = ViewBag.id})">Add Instructor</a>)
                            </div>
                        }
                    </th>
                    @if (Model.Instructor == null)
                    {
                        <td>
                            <p><strong>No Instructor Assigned</strong></p>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div style="display:flex; justify-content:flex-start">
                                <p>
                                    <a href="@Url.Action("Detail", "Instructor", new { id = Model.Instructor.Id } )">
                                        @Model.Instructor.FirstName @Model.Instructor.LastName
                                    </a>
                                </p>
                                <form method="post" action="@Url.Action("RemoveInstructor","Instructor", new { courseId = ViewBag.id })">
                                    <button class="btn-delete" style="margin-left:10px; margin-top:-5px; color:red; background:none; border:none; height:30px;font-size:small">Delete</button>
                                </form>
                            </div>
                        </td>
                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div style="margin-left:12px; font-size:medium ">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>