@model CourseViewModel
@{
    ViewBag.Title = "Details";
}

<div class="body-content" style="margin-bottom:480px; width:600px">
    <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
        <div class="card-header">
            <h2>Details</h2>
        </div>
        @*<div>
            <a href="@Url.Action("AssignInstructor", "Instructor", new { id = ViewBag.id})">Add Instructor</a>
        </div>*@
        <table class="table table-condensed no-border" id="sample-datatables">
            <thead>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Program Name</th>
                    <td>@Model.ProgramName</td>
                </tr>
                <tr>
                    <th>Start Date</th>
                    <td>@Model.StartDate</td>
                </tr>
                @*<tr>
                    <th>End Date</th>
                    <td>@Model.EndDate</td>
                </tr>*@
                <tr>
                    <th>Instructor Name</th>
                    @if (Model.Instructor == null)
                    {
                        <td>
                            <h2>No Instructor</h2>
                            <div>
                                <a href="@Url.Action("AssignInstructor", "Instructor", new { id = ViewBag.id})">Add Instructor</a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Model.Instructor.FirstName @Model.Instructor.LastName
                        </td>
                        <td>
                            <form method="post" action="@Url.Action("RemoveInstructor","Instructor", new { courseId = ViewBag.id})">
                                <button class="btn-delete" style=" background:none;border:none;color:dodgerblue">Delete</button>
                            </form>

                        </td>
                    }

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


