@model List<CourseViewModel>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    var userId = User.Identity.GetUserId();
}

<div>
    <section class="section-padding wow fadeInUp delay-05s">
        <div class="container" style="margin-left: 10px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="service-title pad-bt15">Latest Course</h2>
                    <hr class="bottom-line">
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("CreateCourse", "Course")">Create New+</a>
                }

                <table class="table table-striped" id="sample-datatables">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Program Name</th>
                            <th>Instructor</th>
                            <th>Hours</th>
                            <th>Edit</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model)
                        {
                            <tr>
                                <td>@record.Name</td>
                                <td>@record.ProgramName</td>
                                <td>@record.InstructorName</td>
                                <td>@record.Hours</td>
                                <td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a href="@Url.Action("EditCourse", "Course", new { id = record.Id })">Edit Course</a>
                                    }
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <form action="@Url.Action("Details", "Course", new { id = record.Id })">
                                            <button>Details</button>
                                        </form>
                                    }
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <form method="post" action="@Url.Action("Delete", "Course", new { id = record.Id })">
                                            <button>Delete</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

